* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Mina", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f9f9;
  background-image: linear-gradient(white 1px, transparent 1px), linear-gradient(to right, white 1px, transparent 1px);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ContainerAuth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  gap: 20px;
  background: #fff;
  border: 2px dashed #000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 5px;
}

.FormField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.formButton {
  font-size: 16px;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.MainPage {
  flex: 1;
  width: 100%;
  padding-right: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, auto);
  gap: 3px;

}

.header {
  grid-column: span 7;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px dashed #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  z-index: 100;
}

.nombre-app {
  margin: 5px;
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ContainerTodo {
  grid-column: span 5;
  grid-row: span 4;
  justify-content: center;
  max-width: 800px;
  height: auto;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fff;
  border: 2px dashed #000;
  border-radius: 10px;
  overflow-y: auto;
}

.perfil {
  padding: 0;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.NewTodo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ContInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 15vh;
  gap: 5px;
}

.ContainerApi {
  grid-column: span 2;
  grid-row: span 2;
  grid-column-start: 6;
  grid-row-start: 3;
  font-size: 12px;
  min-width: 200px;
  min-height: 10vh;
  padding: 2px;
  background: #fff;
  border: 2px dashed #000;
  border-radius: 10px;
}

.DivApi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10;
  padding: 10px;
}

.ApiCont p {
  margin-bottom: 10px;  
}

.ContainerList {
  grid-column: span 7;
  grid-row: span 3;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto; /* Permitir scroll si el contenido excede la altura */
}

.TodoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card {
  background: #fff;
  min-height: 30vh;
  border: 2px dashed #000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  flex: 1 1 calc(16.66% - 20px); /* 100% / 6 = 16.66% para 6 cards por fila */
  box-sizing: border-box;
  min-width: 150px; /* Ajusta el tamaño mínimo si es necesario */
  max-width: 200px;
}

.CardButton {
  background: #fff;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.Footer {
  grid-column: span 7;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}


/* CSS mobile tablet */

@media (max-width: 1024px) {
  
  .MainPage {
    grid-template-columns: 1fr; /* 1 columna */
    grid-template-rows: auto;
  }

  .ContainerList, .ContainerTodo {
    grid-column: span 1;
    max-width: 100%;
  }

  .ContainerApi {
    display: none;
  }

  .card {
    flex: 1 1 100%; 
    max-width: none;
  }
}

@media (max-width: 768px) {
  
  .MainPage {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .header {
    order: 1; 
  }

  .ContainerTodo {
    order: 2; 
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .ContainerList {
    order: 3; 
    width: 100%;
    max-width: 100%;
  }

  .ContainerApi {
    display: none;
  }

  .card {
    flex: 1 1 100%; 
    max-width: none;
  }
}
